#gridContainer {
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    height: 600px;

    /* clicking the border colors the whole div */
    /* border: 5px solid;
    border-radius: 5px; */
}

#gridContainer>div {
    /* divide 100 / number per row (10px is there for margins) */
    flex: 1 1 6.25%;
    border: .5px solid;
}

/* #gridContainer>div:hover {
    background-color: black;
    transition: 0.15s;
} */